.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  height: calc(100vh - 114px);
  padding-bottom: 60px;
  background-color: #ece9e9;
  overflow: auto;
  position: relative;
}
