.item {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}

.pink {
  background-color: #f9e4e8;
}

.item__head-section {
  display: flex;
}

.item__head-section > h3 {
  cursor: pointer;
  font-family: Arial;
  font-weight: bold;
}

.item__image-wrapper {
  padding: 0 10px;
}

.item__image-wrapper > img {
  height: 20px;
  width: 20px;
}

.item__timestamp-wrapper {
  margin-left: 30%;
  display: flex;
  width: 8%;
  justify-content: space-between;
}

.item__timestamp {
  display: flex;
  font: 10px Arial;
  align-items: center;
  color: grey;
  width: 90px;
}

.item__timestamp > p {
  margin: 0;
  margin-left: 5px;
}

.item__timestamp > img {
  width: 10px;
  height: 10px;
}

.item__content {
  display: flex;
  justify-content: space-between;
}

.item__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.item__text {
  width: 70%;
  padding: 20px 0;
  font: 15px Arial;
  line-height: 20px;
}

.item__actions > button {
  display: flex;
  background-color: #5fc4d2;
  color: white;
  font: 12px Arial;
  width: auto;
  min-width: 80px;
  height: 30px;
  margin: 0 10px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
}

.item__actions > button > :nth-child(n) {
  margin: 0 3px;
}

.item__actions > button > img {
  width: 10px;
  height: 10px;
}

.item__actions > button > p {
  margin: 0;
}
