.wrapper {
  width: 100%;
  overflow: hidden;
}

.wrapper > h1 {
  margin-top: 200px;
  text-align: center;
  font-size: 200px;
  line-height: 200px;
}

.wrapper > h3 {
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
  line-height: 50px;
}