<div class="form__field">
  <div class="form__field-title-wrapper">
    <p>{{ "PAGES.ADD_COURSE.AUTHORS.TITLE" | translate }}</p>
    <ng-content></ng-content>
  </div>
  <div
    class="form__field-values-wrapper"
    [ngClass]="{ error: isError }"
  >
    <app-chip
      *ngFor="let authorName of value"
      [name]="authorName"
      (onClicked)="onDeleteAuthor($event)"
    ></app-chip>
    <input
      type="text"
      list="authors"
      [(ngModel)]="inputValue"
      (change)="handleSelect()"
      (blur)="onBlur()"
    />
    <datalist id="authors">
      <option *ngFor="let author of authorsList" [value]="author">
    </datalist>
  </div>
</div>
