<div class="list-items-section">
  <app-loading-block></app-loading-block>
  <button class="list-items-section__button add-button" (click)="handleAddCourse()">
    <img src="assets/images/add-icon.png" alt="add icon">
    <p>{{ "PAGES.COURSES.BUTTON.ADD_COURSE" | translate }}</p>
  </button>
  <app-no-data *ngIf="!searchedCourses.length"></app-no-data>
  <div *ngIf="searchedCourses.length" class="list-items-section__list">
    <app-course
      *ngFor="let course of searchedCourses | orderBy: 'creationDate'"
      (onClicked)="onClicked($event)"
      [course]="course"
    ></app-course>
    <button
      (click)="handleLoadMore()"
      *ngIf="searchedCourses.length < totalCoursesNum"
      class="list-items-section__button load-button"
    >
      {{ "PAGES.COURSES.LOAD_MORE" | translate }}
    </button>
  </div>
</div>
