<form [formGroup]="form" (ngSubmit)="handleClick()" class="form">
  <h3>{{ "PAGES.LOGIN.TITLE" | translate }}</h3>
  <div class="form__field-wrapper">
    <div class="form__field-title-wrapper">
      <span class="form__field-title">{{ "PAGES.LOGIN.FORM_FIELDS.EMAIL.TITLE" | translate }}</span>
      <span class="form__field-type">{{ "PAGES.LOGIN.REQUIRED" | translate }}</span>
    </div>
    <div class="form__field">
      <input placeholder="{{ 'PAGES.LOGIN.FORM_FIELDS.EMAIL.PLACEHOLDER' | translate }}" formControlName="email" />
    </div>
    <app-validation-messages
      *ngIf="f.email.touched"
      [messages]="validate('email', f.email.errors)"
    ></app-validation-messages>
  </div>
  <div class="form__field-wrapper">
    <div class="form__field-title-wrapper">
      <span class="form__field-title">{{ "PAGES.LOGIN.FORM_FIELDS.PASSWORD.TITLE" | translate }}</span>
      <span class="form__field-type">{{ "PAGES.LOGIN.REQUIRED" | translate }}</span>
    </div>
    <div class="form__field">
      <input placeholder="{{ 'PAGES.LOGIN.FORM_FIELDS.PASSWORD.PLACEHOLDER' | translate }}" formControlName="password" />
    </div>
    <app-validation-messages
      *ngIf="f.password.touched"
      [messages]="validate('password', f.password.errors)"
    ></app-validation-messages>
  </div>
  <div class="form__actions">
    <a href="#">{{ "PAGES.LOGIN.LINK" | translate }}</a>
    <button class="form__submit" type="submit">{{ "PAGES.LOGIN.SUBMIT" | translate }}</button>
  </div>
</form>
