.text__wrapper {
  display: flex;
  align-items: center;
  margin-left: 5px;
  background-color: aqua;
  border-radius: 5px;
}

.text__wrapper > :nth-child(n) {
  margin: 5px;
}

.text__wrapper > img {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
