<div class="dialog__content-wrapper" mat-dialog-content>
  <p class="dialog__content">
    {{ "PAGES.CONFIRM_DELETE_DIALOG.QUESTION" | translate }}
  </p>
</div>
<div class="dialog__actions-wrapper" mat-dialog-actions>
  <button id="cofirm" mat-raised-button color="primary" (click)="handleConfirm()">
    {{ "PAGES.CONFIRM_DELETE_DIALOG.YES" | translate }}
  </button>
  <button id="close" mat-button (click)="handleDismiss()">
    {{ "PAGES.CONFIRM_DELETE_DIALOG.NO" | translate }}
  </button>
</div>
